body{
    background: linear-gradient(to bottom,lightblue, white) ;
}

table, th, td {
    border: 1px solid #777777;
    padding: 8px;
}

div{
    background: linear-gradient(to top, lightblue, white);
}